body, html {
    height: 100%;
    margin: 0;
}

* {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.container {
    text-align: center;
    height: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: minmax(225px, 1.6fr) 6fr;
    grid-template-rows: 2.6fr 12fr 0.3fr;
    grid-template-areas: 
        "sidebar nav"
        "sidebar main"
        "footer footer";
}

.container div {
    padding: 5px;
    font-size: 1rem;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 1px;
}

.sidebar {
    background-color: rgb(0, 155, 216);    
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.12fr 0.6fr 1fr;
}

.container .sidebarsLogo {
    text-align: left;
    padding: 12px 0 0 46px;
    font-size: 2rem;
}

.container .sidebar {
    padding: 15px 15px 0 15px;
}

.container .sidebars {
    color: white;
    text-align: left;
    font-size: 1rem;
}

.container .sidebars li {
    list-style: none;
    padding-bottom: 10%;
}

.nav {
    background-color: whitesmoke;    
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr;
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.15);
    z-index: 3;
}

.main {
    background-color: rgb(231, 237, 243);
    grid-area: main;
    display: grid;
    margin: 0;
    grid-template-rows: 0.1fr 5fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "hollow ..."
        "article articleRight";
        z-index: 1;
}

#hollow {
    display: grid;
    grid-auto-flow: column;
    grid-area: hollow;
    justify-items: start;
    align-items: end;
    padding: 0;
    margin: 0 0 -25px 30px;
}

.article {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 25px;
    margin: 0;
    justify-items: center;
    grid-area: article;
}

.main .article {
    padding: 26px;
}

.main .article .articles {
    background-color: rgb(248, 248, 248);
    padding: 0;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 0.5% 97% 1%;
    grid-template-rows: 100%;
    grid-template-areas: 
        "stripe content1 .";
}

.articles .stripe {
    grid-area: stripe;
    background-color: orange;
}

.articles .content {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    margin-left: 2.1%;
    grid-area: content1;
    color: black;
    overflow: auto;
    font-size: 0.8rem;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
}

.articles .content p {
    font-size: 0.8rem;
    opacity: 0.5;
    margin-left: 6px;
}

.main .articleRight {
    display: grid;
    max-height: 100%;
    grid-template-columns: minmax(200px, 310px);
    grid-auto-rows: minmax(325px, 750px);
    justify-items: center;
    padding: 0 5%;
    grid-area: articleRight;
}

.articleRight .announcments,
.articleRight .trending {
    display: grid;
    grid-template-columns: minmax(300px, 20fr);
    grid-template-rows: 0.1fr repeat(auto-fit, 55px);
    border-radius: 10px;
    margin: 0;
    justify-self: center;
    background-color: transparent;
}

.articleRight .announcments {
    margin-top: -6px;
    text-align: left;
}

.articleRight .trending {
    margin: -10px 0 13px 0;
}

.trending>div,
.announcments>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    color: black;
    font-size: 0.8rem;
    background-color: rgb(248, 248, 248);
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    overflow: hidden;
}

/* .main .articleRight .trending:nth-child(2 + 2) {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.5);
} */

.main .articleRight .announcments:first-child {
    overflow: visible;
}

.main .articleRight .trending:first-child {
    overflow: visible;
}

.trending:first-child {
    justify-self: start;
    align-self: start;
    margin-top: 0;
    padding-top: 0;
    overflow: visible;
}

.trending>div:nth-child(2),
.announcments>div:nth-child(2) {
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.trending>div:last-child,
.announcments>div:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .footer {
    background-color: #393f4d;
    grid-area: footer;
    font-size: 0.5rem;
    font-weight: lighter;
    padding-top: 0.3%;
}

p {
    font-size: 0.75rem;
    padding: 0;
    margin: 0;
    opacity: 0.6;
    font-weight: 500;
    letter-spacing: .01rem;
    font-family: Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;

}

span {
    font-size: 0.85rem;
    /* font-weight: lighter; */
    margin: 0;
    padding: 0;
    overflow: visible;
    margin-bottom: 0px;
    margin-left: -1px;
    color: rgba(0, 0, 0, .75);
    font-family: Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .035rem;
}

.articleRight h3 {
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 1);
    font-weight: lighter;
    justify-self: start;
    align-self: end;
    padding-left: 8px;
    overflow: visible;
}

.main>#hollow>h3 {
    justify-self: start;
    margin: 0;
    padding: 0;
    color: black;
    font-weight: lighter;
}

.main .article .articles>.content>h3 {
    margin-left: 6px;
    padding: 1px;
    /* font-style: italic; */
    /* font-weight: bolder; */
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .1rem;
    margin-bottom: 6px;
    overflow: visible;
}

.announcments>div,
.trending>div {
    border: none;
    /* box-shadow: none; */
    outline: none;
    background: rgb(248, 248, 248);
    box-shadow: 
    6px 0px 12px -6px rgba(0, 0, 0, .09),
    0 -10px 10px -10px rgba(0, 0, 0, 0),
    0 -10px 10px -10px rgba(0, 0, 0, 0),
    0 -10px 10px -10px rgba(0, 0, 0, 0);
    
}

.announcments div:not(:last-child) {
    position: relative;
}

.announcments div:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%; 
    width: 80%;
    height: 1px; 
    background: rgba(0, 0, 0, 0.2); 
}

.trending div:not(:last-child) {
    position: relative;
}

.trending div:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%; 
    width: 80%;
    height: 1px; 
    background: rgba(0, 0, 0, 0.2); 
}

.articleRight .trending p {
    margin-top: -4px;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .07rem;
    font-family:Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;
}