


body,
html {
    height: 100%;
    margin: 0;
}

* {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

.container {
    text-align: center;
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: minmax(225px, 2fr) 6fr;
    grid-template-rows: 2fr 12fr .3fr;
    grid-template-areas: 
    "sidebar nav"
    "sidebar main"
    "footer footer";
}

.container div {
    padding: 5px;
    font-size: 1rem;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 1px;
}


.sidebar {
    background-color: rgb(0, 155, 216);    
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .12fr .6fr 1fr;
    
}

.container .sidebarsLogo {
    /* display: flex; */
    text-align: left;
    padding-top: 12px;
    padding-left: 46px;
    /* padding-bottom: 0; */
    font-size: 2rem;
    border: 1px solid black;
    /* justify-content: flex-start; */
}

.container .sidebar {
    padding: 15px;
    border: 1px solid black;
    padding-top: 0;
}

.container .sidebars.Two {
    padding-top: 0px;
}

.container .sidebars.One {
    margin-top: 0px;
    /* justify-items: baseline; */
    align-items: start;
}


.container .sidebars {
    color: white;
    text-align: left;
    overflow: hidden;
    font-size: 1rem;
    border: 1px solid black;
    padding-top: 0;

}

.container .sidebars li {
    list-style: none;
    padding-bottom: 10%;
    border: 1px solid black;
}

.container .sidebars.One li {
    margin-top: 0;
}



.nav {
    background-color: whitesmoke;    
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-rows: 1fr;

}

.navs {
    /* background-color: inherit;
    text-align: center;
    color: white; */
}

.main {
    background-color: rgb(231, 237, 243);
    grid-area: main;
    /* display: flex; */
    display: grid;
    border: 1px solid black;
    margin: 0;
    grid-template-rows: .1fr 5fr;
    grid-template-columns: 2fr 1fr;
    /* justify-items: start;
    align-items: start; */
    grid-template-areas: 
    "hollow ..."
    "article articleRight";

}

#hollow {
    display: grid;
    grid-auto-flow: column;
    grid-area: hollow;
    z-index: 10;
    justify-items: start;
    align-items: end;
    border: 1px solid black;
    padding: 0;
    margin-bottom: -25px;
    margin-left: 30px;

}

.article {
    /* flex: 6; */
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 25px;
    border: 1px solid black;
    margin: 0;
    justify-items: center;
    grid-area: article;
    z-index: 1;

}

/* .articleRight {
    display: flex;
    flex-direction: column;
    flex: 2.5; 
    margin: 0;
    margin-left: 5px;
    margin-right: 20px;
    border: 1px solid black;
}

.articleRight {
    flex: 2.5;
} */

.main .article {
    padding: 26px;

}

.main .article .articles {
    background-color: rgb(248, 248, 248);
    padding: 0;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: .5% 97% .5%;
    grid-template-rows: 100%;
    grid-template-areas: 
    "stripe content1 .";
}

.articles .stripe {
    grid-area: stripe;
    background-color: orange;
}

.articles .content {
    display: flex;
    flex-direction: column;
    padding-left: 8px;
    margin-left: 2.1%;
    grid-area: content1;
    color: black;
    /* text-align: center; */
    overflow: auto;
    font-size: .8rem;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    background-color: inherit;
    
}

.articles .content p {
    font-size: .8rem;
    opacity: .5;
    margin-left: 6px;


}

.main .articleRight {
    /* flex: 2.5; */
    display: grid;
    max-height: 100%;
    grid-template-columns: minmax(200px, 316px);
    grid-template-rows: repeat(auto-fit, minmax(325px, 500px));
    grid-auto-rows: minmax(325px, 450px);
    /* overflow: hidden; */
    /* row-gap: 4px; */
    border: 1px solid black;
    justify-items: center;
    padding-left: 5%;
    padding-right: 5%;
    /* align-items: start; */
    grid-area: articleRight;
}

.articleRight .announcments,
.articleRight .trending {
    /* max-height: 50%; */
    /* flex: 1; */
    border: 1px solid black;
    display: grid;
    grid-template-columns: minmax(300px, 30fr);
    grid-template-rows: .1fr repeat(auto-fit, minmax(50px, 2fr));
    grid-auto-rows: repeat(auto-fit, minmax(50px, 2fr));
    background-color: inherit;
    border-radius: 10px;
    /* overflow: hidden; */
    /* position: relative; */
    margin: 0;
    justify-self: center;
    /* padding-top: 16px; */
    /* align-self: center; */
    /* margin-top: -4px; */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .1);
    
}

.articleRight .announcments {
    margin-top: -10px;
}

.articleRight .trending {
    padding-top: 0;
    margin-top: -30px;
    margin-bottom: 13px;

}


.trending div,
.announcments div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    color: black;
    font-size: .8rem;
    background-color: rgb(248, 248, 248);
    border: 1px solid black;
    /* padding-top: 18px; */
    padding: 8px;
    position: relative;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    box-shadow: 3px 3px 50px rgba(0, 0, 0, .1);
    /* border-top: 2px solid black; */

}

.trending:nth-child(3 + 1) {
    border: 0; /* Remove actual border */
    background: 
        linear-gradient(black 0%, rgba(0, 0, 0, 0.5) 90%) top; 
    background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
    background-repeat: no-repeat;
}



.trending:first-child {

    justify-self: start;
    align-self: start;
    margin-top: 0;
    padding-top: 0;
    border: 1px solid black;

}


.trending div:nth-child(2),
.announcments div:nth-child(2){
    margin-top: 0;

    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.trending div:last-child,
.announcments div:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .footer {
    background-color: #393f4d;
    grid-area: footer;
    font-size: .5rem;
    font-weight: lighter;
    padding-top: .3%;
}

p {
    font-size: .65rem;
    padding: 0;
    margin: 0;
}

span {
    font-size: .7;
    font-weight: bold;
    margin: 0;
    padding: 0;
    margin-bottom: 5px;
    overflow: visible;

    /* margin-bottom: 4px;
    line-height: 1rem; */

    /* z-index: 10; */
}

.articleRight h3 {
    margin: 0;
    padding: 0;
    color: black;   
    /* line-height: 1.2rem ; */
    font-weight: lighter;
    justify-self: start;
    align-self: end;
    padding-left: 8px;
    border: 1px solid black;
    padding-bottom: 0;
}

.main>#hollow>h3 {
    justify-self: start;
    margin: 0;
    padding: 0;
    color: black;
    font-weight: lighter;
}

.main .article .articles>.content>h3 {
    margin-left: 6px;
    padding: 1px;
    /* font-style: italic; */
    /* font-weight: bolder; */
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .1rem;
    margin-bottom: 6px;
    overflow: visible;
}