

* {
    overflow: hidden;
    position: relative;
    box-sizing: border-box;
}

body, html {
    height: 105%;
    margin: 0;
    overflow: auto;
}

.container {
    text-align: center;
    height: 100%;
    padding: 16px;
    display: grid;
    grid-template-columns: minmax(225px, 1.45fr) 6fr;
    grid-template-rows: 2.4fr 12fr 0.3fr;
    grid-template-areas: 
        "sidebar nav"
        "sidebar main"
        "footer footer";
}

.container div {
    padding: 5px;
    font-size: 1rem;
    font-family: Helvetica;
    font-weight: bold;
    color: white;
    border-radius: 1px;
}

.sidebar {
    background-color: rgb(0, 155, 216);    
    grid-area: sidebar;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.12fr 0.6fr 1fr;
}

.container .sidebarsLogo {
    text-align: left;
    padding: 12px 0 0 46px;
    font-size: 2rem;
}

.container .sidebar {
    padding: 15px 15px 0 15px;
}

.container .sidebars {
    color: white;
    text-align: left;
    font-size: 1rem;
}

.container .sidebars li {
    list-style: none;
    padding-bottom: 10%;
}

.nav {
    background-color: whitesmoke;    
    grid-area: nav;
    display: grid;
    grid-template-columns: 1fr .8fr 1fr;
    grid-template-rows: .6fr 1fr;
    grid-template-areas: 
    "searchBar searchBar profile"
    "userGreeting ... buttons";
    box-shadow: -3px 3px 10px rgba(0, 0, 0, 0.2);
    z-index: 3;
}

.navs {
    border: 1px solid black;
}

.navs.searchBar {
    grid-area: searchBar;
} 

.search {
    display: flex;
    border: 1px solid black;
    width: 99%;
    justify-content: end;
    padding: 0;
    height: 95%;
}

#searchInput {
    border-radius: 15px;
    width: 92%;
    height: 100%;
    margin: 0;
    background-color: rgba(185, 197, 206, 0.45);
    /* outline: none; */
    border: none;



}



.profile {
    grid-area: profile;
}

.userGreeting {
    grid-area: userGreeting;
}

.buttons {
    grid-area: buttons;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -35px;
    overflow: visible;
}

.btn {
    width: 22%;
    height: 50%;
    border-radius: 20px;
    background-color: rgb(0, 155, 216);
    /* margin-left: -105px; */
    margin-right: 32px;
}

.main {
    background-color: rgb(231, 237, 243);
    grid-area: main;
    display: grid;
    margin: 0;
    grid-template-rows: 0.1fr 5fr;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
        "hollow ..."
        "article articleRight";
        /* z-index: 1; */
        /* overflow: visible; */
        clip-path: inset(-30px 0 0 0);
}

#hollow {
    display: grid;
    grid-auto-flow: column;
    grid-area: hollow;
    justify-items: start;
    align-items: end;
    padding: 0;
    margin: 0 0 -18px 30px;
}

.article {
    /* overflow: auto; */
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    grid-auto-rows: minmax(200px, 1fr);
    gap: 25px;
    row-gap: 35px;
    margin: 0;
    justify-items: center;
    grid-area: article;
}

.main .article {
    padding: 20px;
}

.main .article .articles {
    background-color: rgb(248, 248, 248);
    padding: 0;
    border-radius: 6px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-columns: 0.5% 97% 2.5%;
    grid-template-rows: 72.5% 27.5%;
    grid-template-areas: 
        "stripe content1 ."
        "stripe icons icons";
}

.articles .stripe {
    grid-area: stripe;
    background-color: orange;
}

.articles .content {
    /* display: flex;
    flex-direction: column; */
    padding-left: 8px;
    margin-left: 2.1%;
    grid-area: content1;
    color: black;
    /* overflow: auto; */
    font-size: 1rem;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    max-height: 9.8em;

    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.articles .content p {
    font-size: 0.95rem;
    opacity: 0.5;
    margin-left: 6px;
}

.main .articleRight {
    display: grid;
    max-height: 100%;
    grid-template-columns: minmax(200px, 310px);
    grid-auto-rows: minmax(375px, 750px);
    justify-items: center;
    padding: 0 5%;
    grid-area: articleRight;
    /* overflow: visible; */
    /* border: 1px solid black; */
    margin-top: -10px;
}

.main .articleRight .announcements,
.main .articleRight .trending {
    max-height: 90%;
    display: grid;
    grid-template-columns: minmax(280px, 100%);
    grid-template-rows: 0.1fr 1fr;
    border-radius: 10px;
    margin: 0;
    justify-self: center;
    background-color: transparent;
    /* border: 1px solid black; */
    /* clip-path: inset(-30px 0 0 0); */
    padding: 0;
    /* padding-top: 20px; */
    z-index: 15;
    overflow: visible !important;
}

.main .articleRight .trending {
    margin-top: 29px;
}

.articleRight .announcements1,
.articleRight .trending1 {
    display: grid;
    grid-template-columns: 280px;
    grid-template-rows: 0.1fr repeat(auto-fit, 65px);
    border-radius: 10px;
    margin: 0;
    justify-self: center;
    background-color: transparent;
    /* border: 1px solid black; */
    padding: 0;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
}

.main .articleRight .announcements {
    margin-top: 16px;
    /* margin-bottom: -8px; */

}
.articleRight .announcements1 {
    margin-top: -18px;
    text-align: left;
}

.articleRight .trending1 {
    margin: -18px 0 0px 0;
}

.trending1>div,
.announcements1>div {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
    color: black;
    font-size: 0.8rem;
    background-color: rgb(248, 248, 248);
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;
    overflow: hidden;
}

/* .main .articleRight .trending:nth-child(2 + 2) {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.5);
} */

.main .articleRight .announcements1:first-child {
    overflow: visible;
}

.main .articleRight .trending1:first-child {
    overflow: visible;
}

.trending1:first-child {
    justify-self: start;
    align-self: start;
    margin-top: 0;
    padding-top: 0;
    overflow: visible;
}

.trending1>div:nth-child(2),
.announcements1>div:nth-child(2) {
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.trending1>div:last-child,
.announcements1>div:last-child {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container .footer {
    background-color: #393f4d;
    grid-area: footer;
    font-size: 0.5rem;
    font-weight: lighter;
    padding-top: 0.3%;
}

p {
    font-size: 0.7rem;
    padding: 0;
    margin: 0;
    opacity: 0.6;
    font-weight: 500;
    letter-spacing: .01rem;
    font-family: Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;

}

span {
    font-size: 0.85rem;
    /* font-weight: lighter; */
    margin: 0;
    padding: 0;
    overflow: visible;
    margin-bottom: 0px;
    margin-left: -1px;
    color: rgba(0, 0, 0, .75);
    font-family: Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;
    letter-spacing: .035rem;
}

.main .articleRight .announcements>h3,
.main .articleRight .trending>h3 {
    margin-top: -10px;
    padding: 0;
    color: rgba(0, 0, 0, 1);
    font-weight: lighter;
    justify-self: start;
    align-self: end;
    padding-left: 12px;
    overflow: visible;
}

.main>#hollow>h3 {
    justify-self: start;
    margin: 0;
    padding: 0;
    color: black;
    font-weight: lighter;
}

.main .article .articles>.content>h3 {
    margin-left: 6px;
    padding: 1px;
    /* font-style: italic; */
    /* font-weight: bolder; */
    font-size: larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    letter-spacing: .1rem;
    margin-bottom: 6px;
    overflow: visible;
}

.announcements1>div,
.trending1>div {
    border: none;
    /* box-shadow: none; */
    outline: none;
    background: rgb(248, 248, 248);
    /* box-shadow: 
    6px 0px 12px -6px rgba(0, 0, 0, .09),
    0 -10px 10px -10px rgba(0, 0, 0, 0),
    0 -10px 10px -10px rgba(0, 0, 0, 0),
    0 -10px 10px -10px rgba(0, 0, 0, 0);
    z-index: 2; */
}

.announcements1 div:not(:last-child) {
    position: relative;
}

.announcements1 div:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%; 
    width: 80%;
    height: 1px; 
    background: rgba(0, 0, 0, 0.2); 
}

.trending1 div:not(:last-child) {
    position: relative;
}

.trending1 div:not(:last-child)::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10%; 
    width: 80%;
    height: 1px; 
    background: rgba(0, 0, 0, 0.2); 
}

.articleRight .trending1 p {
    margin-top: -4px;
    font-size: .8rem;
    font-weight: 500;
    letter-spacing: .07rem;
    font-family:Arial, Helvetica, sans-serif, Georgia, 'Times New Roman', Times, serif;
}

.trending1 div:not(:last-child, :nth-child(3)) {
    z-index: 1;
    /* box-shadow: 
    3px 0px 12px -1px rgba(0, 0, 0, .08),
    0 -10px 10px -10px rgba(0, 0, 0, 0),
    0 -10px 10px -10px rgba(0, 0, 0, 0),
    0 -10px 10px -10px rgba(0, 0, 0, 0); */
}

.announcements1 div:not(:last-child, :nth-child(2)) {
    z-index: 1;
}